# Ignore everything in the datasets folder except .gitkeep
datasets/*
!datasets/.gitkeep

# Ignore everything in the ultralytics_models folder except .gitkeep
ultralytics_models/pose/*
!ultralytics_models/pose/.gitkeep

# Ignore folders and their contents
runs/
volume_estimation/recordings_inferenced/

*.DS_Store
*.pt

*.mp4
*.MOV
*.pth
.aider*

# Environment files
.env
.env.*
